:root{
  --primaryColor: rgba(0, 100, 97, 0.463);
  --buttonColor: #008080;
  --tertiaryColor: #003751;
}

.verification-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
    padding: 30px 50px;
    border: 1px solid #fff;
    width: auto;
    max-width: 400px;
}

.verify-header{
    text-align: center;
    margin-bottom: 20px;
    width: 100%;
}

.verify-header h2{
    font-size: 1.5rem;
    margin-bottom: 8px;
    color: var(--tertiaryColor);
}

.verify-header p {
  font-size: 0.95rem;
  color: #666;
}

.resend-otp {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  margin-bottom: 20px;
  font-size: 0.9rem;
}

.resend-otp p {
  margin: 0;
  color: #555;
}

.resend-otp button {
  background: none;
  border: none;
  color: #40ac86;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
  text-decoration: underline;
}

.resend-otp button:hover:disabled{
  color: #40ac86;
  text-decoration: underline;
}

.resend-otp button:hover{
    color: rgb(96, 144, 222);
}

.verify-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.verify-btn {
  background: #358d6f;
  border: none;
  border-radius: 8px;
  width: 100%;
  padding: 12px;
  color: #fff;
  font-weight: 700;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.3s;
}

.verify-btn:hover {
  background: var(--tertiaryColor);
}


.input-container {
    display: flex;
    justify-content: center;
    gap: 12px;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

.otp-input {
  width: 48px;
  height: 60px;
  text-align: center;
  font-size: 1.3rem;
  border-radius: 8px;
  border: 1.5px solid #c2c2c2;
  transition: 0.3s;
}

.otp-input:focus{
    border-color: var(--primaryColor);
    outline: none;
    box-shadow: 0 0 6px rgba(64, 172, 134, 0.6);
}


.reset-pass-group{
  display: flex;
  flex-direction: column;
  width: 100%;
}


.reset-field {
  position: relative;
  display: flex;
  align-items: center;
}

.reset-field input {
  flex: 1;
  padding-right: 40px;
  border: 2px solid #ccc;
  padding: 10px;
  border-radius: 10px;
  outline: none;
  font-size: 1rem;
}

.password-group label{
  color: #6c757d;
  font-size: 1rem;
  font-weight: 600;
}




