.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.main-content-dull {
  background: rgba(0, 0, 0, 0.5);
  transition: opacity 0.3s ease-in-out;
}

.modal-container {
  background: #fff;
  border-radius: 12px;
  width: 500px;
  max-width: 90%;
  padding: 20px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
  animation: fadeIn 0.2s ease-in-out;
}

.modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.close-btn {
  background: none;
  border: none;
  cursor: pointer;
  color: #555;
}

.close-btn:hover {
  color: #000;
}

.form-group {
  margin: 15px 0;
}

.form-group label {
  display: block;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 6px;
  color: #333;
}

.form-group input,
.form-group textarea,
.form-group select {
  width: 100%;
  padding: 8px 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
}

.form-group input:focus,
.form-group textarea:focus,
.form-group select:focus {
  border-color: #007bffb6;
  outline: none;
}

.modal-footer {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 15px;
}

.btn-primary:hover {
  background: #0056b3;
}

.btn-secondary:hover {
  background: #4b4b4b;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Task Page */
.select-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.select-group .form-group {
  width: 50%;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.no-tasks-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px; 
  background-color: #f9f9f9; 
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  margin: 30px 0;
}

.no-tasks {
  font-size: 1.2rem;
  color: #555; 
  font-weight: 500;
}